<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MATHS">
        <activity
            android:name=".ten_number"
            android:exported="false" />
        <activity
            android:name=".PuzzelActivity"
            android:exported="false" />
        <activity
            android:name=".Myvillage"
            android:exported="false" />
        <activity
            android:name=".Near_farActivity"
            android:exported="false" />
        <activity
            android:name=".Before_After_Activity"
            android:exported="false" />
        <activity
            android:name=".TimeActivit"
            android:exported="false" />
        <activity
            android:name=".ShapeActivity"
            android:exported="false" />
        <activity
            android:name=".Preshooter"
            android:exported="false" />
        <activity
            android:name=".NextNumberWorksheetActivity"
            android:exported="false" />
        <activity
            android:name=".CompareDynamicActivity"
            android:exported="false" />
        <activity
            android:name=".InfoActivity"
            android:exported="false" />
        <activity
            android:name=".num21to30"
            android:exported="false" />
        <activity
            android:name=".MinMaxPickerActivity"
            android:exported="false" />
        <activity
            android:name=".OrderActivity"
            android:exported="false" />
        <activity
            android:name=".Subballoon"
            android:exported="false" />
        <activity
            android:name=".NumbersActivity"
            android:exported="false" />
        <activity
            android:name=".num31to99"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>